.piece {
    height: 50px;
    width: 50px;
    margin: 0;
    background-size: 100% 100%;
    outline: none;
}

.btn:focus, .btn:active{
    outline: none!important;
}

#board {
    border-collapse: collapse;
    table-layout: fixed;
}

#board td {
    border: 1px gray solid;
    padding: 3px;
}

.container {
    margin-top: 100px;
}

.spy {
    background-image: url("../images/stratego-spy.svg");
}

.flag {
    background-image: url("../images/stratego-flag.svg");
}

.bomb {
    background-image: url("../images/stratego-bomb.svg");
}

.captain {
    background-image: url("../images/stratego-captain.svg");
}

.colonel {
    background-image: url("../images/stratego-colonel.svg");
}

.general {
    background-image: url("../images/stratego-general.svg");
}

.lieutenant {
    background-image: url("../images/stratego-lieutenant.svg");
}

.major {
    background-image: url("../images/stratego-major.svg");
}

.marshal {
    background-image: url("../images/stratego-marshal.svg");
}

.miner {
    background-image: url("../images/stratego-miner.svg");
}

.scout {
    background-image: url("../images/stratego-scout.svg");
}

.sergeant {
    background-image: url("../images/stratego-sergeant.svg");
}

.cover {
    height: 100%;
    width: 100%;
}

.red {
    background-color: rgba(255, 0, 0, 0.2);
}

.blue {
    background-color: rgba(0, 110, 255, 0.2);
}

.lake {
    background-color: rgb(0, 110, 255);
    border: none;
}

