.piece {
    height: 50px;
    width: 50px;
    margin: 0;
    background-size: 100% 100%;
    outline: none;
}

.btn:focus, .btn:active{
    outline: none!important;
}

#board {
    border-collapse: collapse;
    table-layout: fixed;
}

#board td {
    border: 1px black solid;
    padding: 3px;
}

.container {
    margin-top: 100px;
}

.spy {
    background-image: url("../images/pieces/1spy.png");
}

.flag {
    background-image: url("../images/pieces/Flag.png");
}

.bomb {
    background-image: url("../images/pieces/Bomb.png");
}

.captain {
    background-image: url("../images/pieces/6Captain.png");
}

.colonel {
    background-image: url("../images/pieces/8Colonel.png");
}

.general {
    background-image: url("../images/pieces/9General.png");
}

.lieutenant {
    background-image: url("../images/pieces/5Lieutenant.png");
}

.major {
    background-image: url("../images/pieces/7Major.png");
}

.marshal {
    background-image: url("../images/pieces/10Marshall.png");
}

.miner {
    background-image: url("../images/pieces/3Miner.png");
}

.scout {
    background-image: url("../images/pieces/2scout.png");
}

.sergeant {
    background-image: url("../images/pieces/4Sergeant.png");
}

.cover {
    height: 100%;
    width: 100%;
}

.red {
    background-color: rgba(255, 0, 0, 0.2);
}

.blue {
    background-color: rgba(0, 110, 255, 0.2);
}

