:root {
    --border-color: #e6e6e6;
    --bg-color: white;
    --highlight-color: rgb(81, 158, 46);
    --highlight-color-op: rgba(81, 158, 46, 0.2);
    --complement: #fafafa;
    --complement-darker: #f5f5f5;
    --header-height: 64px;
    --footer-height: 0px;
    --sidebar-width: 200px;
    --major-color: rgb(100, 146, 239);
    --major-color-op: rgba(100, 146, 239, 0.2);
}

body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    background-color: var(--bg-color);
}

.centered {
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:9000;
    overflow: visible;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 1px 0;
    transition: all 0.5s linear;
    background-color: var(--bg-color);
    height: var(--header-height);
}

.container {
    overflow: auto;
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 0;
    background-color: var(--bg-color);
}

.footer {
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--complement);
    height: var(--footer-height);
}

.sidebar {
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--bg-color);
    width: var(--sidebar-width);
    height: 100%;
    display: inline-block;
    float: left;
}

.inner-container {
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: var(--sidebar-width);
    right: 0;
    display: inline-block;
}

.toolbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-width: 0;
    border-style: solid;
    border-color: var(--border-color);
    align-items: center;
    padding: 10px 20px;
    z-index: 9000;
}

.content {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 80px);
    /*padding: 30px 40px;*/
}

.greeting {
    float: right;
    line-height: var(--header-height);
    vertical-align: middle;
    margin-right: 30px;
    color: black;
    font-size: 14px;
}

.greeting a,
.greeting a:visited {
    cursor: pointer;
    margin-left: 15px;
    text-decoration: none;
    color:inherit;
    font: inherit;
}

.sign {
    background-color: var(--complement);
    height: 100%;
}


.sign-form {
    width: 30%;
}

.form-header {
    padding: 40px 0;

}

.form-header button, .sign-form input[type=submit] {
    height: 60px;
    display: inline-block;
    width: 50%;
    background-color: var(--bg-color);
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: var(--bg-color);
    padding:0!important;
    font: inherit;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
}


#signin-form, #signup-form {
    display: none;
}

.sign-form input[type=text], .sign-form input[type=password] {
    height: 60px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 10px 0 18px 0;
    border: none;
    background: var(--bg-color);
}

.sign-form input[type=text]:focus, .sign-form input[type=password]:focus {
    outline: none;
}

.optinfo {
    width: auto;
}

.optinfo hr {
    display: inline-block;
    width: 10%;
}

.center-text {
    text-align: center;
    font-size: 20px;
    color: lightgray;
}

.center-text a,
.center-text a:visited{
    text-decoration: underline;
    color: inherit;
}

.hr-sect {
	display: flex;
    font-weight: normal;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0;
    font-size: 15px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0;
	line-height: 0;
}

.hr-sect::before {
    margin: 0 8px 0 100px;
}

.hr-sect::after {
    margin: 0 100px 0 8px;
}

.error-message {
    margin-top:5px;
    padding: 3px 0;
    color: red;
    font: inherit;
    font-size: 10px;
}

.sidebar-header {
    min-height: 80px;
    padding: 5px 0 0 0;
    align-items: center;
}

.sidebar-main-dropdown {
    font-size: 30px;
    background-color: var(--bg-color);
    padding: 10px 20px;
    position: relative;
    margin: 20px auto;
    width: 70%;
    min-height: 50px;
    border-radius: 25px;
    color: var(--border-color);
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),
                0 1px 3px 1px rgba(60,64,67,0.149);
}

.dropdown-content {
    font-size:14px;
    font-weight: lighter;
    display: none;
}

.dropdown-item {
    padding: 3px;
    box-sizing: border-box;
    display: block;
    color: lightgray;
    margin: 14px 0;
    border-width: 0 0 3px 0;
    border-color: var(--bg-color);
    border-style: solid;
    text-decoration: none;
}

.sidebar-main-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item:hover {
    color: var(--highlight-color);
    border-color: var(--highlight-color);

}

.sidebar-main-button {
    width: 100%;
    color: var(--highlight-color);
    background-color: inherit;
    border-style: none;
    padding:0!important;
    cursor: pointer;
    outline: 0;
}

.sidebar-content {
    overflow: auto;
    height: 90%;
    box-sizing: border-box;
    padding: 10px 0 30px 0;
}

#sidebar-nav {
    font-size: 14px;
    font-weight: lighter;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

#sidebar-nav li a span{
    margin-left: 18px;
}

.sidebar-nav-item {
    display: block;
    color: inherit;
    padding: 8px 30px;
    text-decoration: none;
    border-width: 0 4px 0 0;
    border-color: var(--bg-color);
    border-style: solid;
}

.sidebar-nav-inactive:hover {
    background-color: var(--complement-darker);
}

.sidebar-nav-active {
    background-color: var(--highlight-color-op);
    border-color: var(--highlight-color);
}

.sidebar-nav-active-major {
    border-color: var(--major-color);
    background-color: var(--major-color-op);
}

.input-group {
    border: solid var(--border-color) 1px;
    border-radius: 30px;
    padding: 5px 10px;
}

.input-group:hover, .input-group:focus {
    box-shadow: 1px 1px 10px var(--border-color);
}

.input-group input {
    border: none;
    border-radius: 30px;
    padding: 5px 5px 5px 10px;
}

.input-group input:focus {
    outline-color: transparent;
    outline-style: none;
}

.input-group button {
    margin-left: 5px;
    color: var(--highlight-color);
    border-style: solid;
    background-color: transparent;
    border-color: var(--bg-color);
    padding:0!important;
    font-size: 15px;
}

.input-group button:focus {
    border-style: none;
    outline-color: transparent;
    outline-style: none;
}

.input-group button:hover {

    text-shadow: 0 0 2px;
}

.input-group button:active {
    border-style: none;
    text-shadow: 0 0 3px;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    overflow: auto;
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 29.5%;
    height: 200px;
    border: 0 solid transparent;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 30px 1.2%;
    padding: 0;
    box-shadow: 0 5px 15px 0 rgba(153,153,153,0.5);
}
.cardholder {
    font-size: 36px;
    color: lightgray;
    width: 200px;
    height: 200px;
    border: 2px dashed lightgray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(153,153,153,0.5);
}


.ele-list {
    padding: 0;
    list-style: none;
}

/*.cards {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.scroll-shadow {
    border-color: transparent;
    box-shadow: 0 5px 15px -15px rgb(0,0,0);
}