.verify-Success-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    padding: 9rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

.verify-Success-wrapper h1 {
    font-family: 'Varela Round';
    line-height: 6.5rem;
    color: black;
}

.verify-Success-wrapper h2 {
    font-family: 'Varela Round';
    max-width: 25rem;
    font-size: 1rem;
}

.send-email-btn{
    height: 65px;
    width: 150px;
}

.send-input-info{
    width: 200px;
    height: 35px;
}

.verify-box{
    width: 400px;
}

.send-verify-email{
    letter-spacing: .15rem;
    border-radius: 25px;
}

.send-email-wrapper{
    background: url("../images/bg-mails.png");
}