<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:divth="http://www.w3.org/1999/html">
<head>
    <title>Stratego</title>
    <link rel="icon" href="../static/resources/images/icon.png" th:href="@{/resources/images/icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            let win = [[${stats.win}]];
            let loss = [[${stats.loss}]];
            let data = google.visualization.arrayToDataTable([
                ['result',  'count'],
                ['win',     win],
                ['loss',    loss],
            ]);

            let options = {
                slices: {
                    0: { color: '#5ab259' },
                    1: { color: '#c62828' }
                },
                tooltip: {
                    showColorCode:true,
                    textStyle: {
                        fontSize: '12'
                    }
                },
                pieSliceText: 'none',
                width: 180,
                height: 180,
                legend: {position: 'none'},
                chartArea:{height:155, width:155},
                sliceVisibilityThreshold: 0
            };

            let chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        /*]]>*/
    </script>
<!--    <script type="text/javascript" src="../static/resources/js/dashboard.js" th:src="@{/resources/js/dashboard.js}"></script>-->
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-sm navbar-light">
        <img id="logo" src="../static/resources/images/icon.png" th:src="@{/resources/images/icon.png}"/>
        <a class="navbar-brand" href="#">Stratego</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle z-depth-0"
                             th:src="${user.avatar_url == null || user.avatar_url.isEmpty()} ? '/resources/images/default.png':${user.avatar_url}">
                        <span th:text="${user.getNickname()}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">
<!--                        <a class="dropdown-item" href="#">game history</a>-->
                        <a class="dropdown-item" id="logout-link" href="/logout" th:href="@{/logout}">logout</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="stratego-container">
        <div class="stratego-col">
            <div class="card">
                <div class="card-header">
                    Statistics
                </div>
                <div class="card-body">
                    <div id="piechart-container">
                        <div id="piechart" th:classappend="${stats.total} > 0 ? '' : 'd-none'"></div>
                        <div id="piechart-default" class="text-muted" th:classappend="${stats.total} > 0 ? 'd-none': ''">Finish at least one game to see your statistics!</div>
                    </div>
                    <div id="piechart-legends">
                        <div class="piechart-legend" style="color:#418ac9;">
                            <div th:text="${stats.total}"></div>
                            <span>total</span>
                        </div>
                        <div class="piechart-legend" style="color:#5ab259;">
                            <div th:text="${stats.win}"></div>
                            <span>win</span>
                        </div>
                        <div class="piechart-legend" style="color:#c62828;">
                            <div th:text="${stats.loss}"></div>
                            <span>loss</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stratego-col w-50">

            <div class="card" id="game-history-card">
                <div class="card-header">
                    Game History
                </div>

                <div class="card-body">
                    <div id="history-default" class="w-100 h-100 row align-items-center" th:classappend="${games.isEmpty()} ? '' : 'd-none'">

                        <h6 class="text-muted text-center w-100">You have no game records. Play one!</h6>
                    </div>
                    <div id="history" th:classappend="${games.isEmpty()} ? 'd-none' : ''">
<!--                        <h6 class="card-subtitle text-muted"><small>Showing 20 most recent games.</small></h6>-->
                        <ul style="list-style: none;">
                        <li th:each="game: ${games}">
                            <div class="card game-record">
                                <a class="card-body" th:href="@{/game/{id}(id=${game.id})}">
                                    <div th:text="${game.id}"></div>

                                    <div th:if="${not game.getEnded()}" class="alert alert-primary">
                                        unfinished
                                    </div>
                                    <div th:if="${game.getEnded() && game.getHumanWin()}" class="alert alert-success">
                                        win
                                    </div>
                                    <div th:if="${game.getEnded() && game.getCompWin()}" class="alert alert-danger">
                                        loss
                                    </div>

                                </a>
                            </div>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="stratego-col">

            <div class="card">
                <div class="card-header">
                    New Game
                </div>
                <div class="card-body new-game">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/create" th:href="@{/create}">versus A.I.</a></li>
                        <li class="list-group-item"><a href="/create" th:href="@{/create}" class="link-disabled">versus People<span>(Coming Soon)</span></a></li>
                    </ul>
                </div>
            </div>
            <div id="team">
                <div id="team-toggle"><a   data-toggle="collapse" href="#teammates" aria-expanded="false" aria-controls="collapseExample">
                    Know our team
                </a></div>
                <div id="teammates" class="collapse">
                    <ul>
                        <li><a href="https://changruizzzz.wixsite.com/website">Lead Programmer: Changrui Zhou</a></li>
                        <li><a href="https://github.com/x1991x">Project Manager: Jie Dai</a></li>
                        <li><a href="https://github.com/ciaoxiaoxiao">Lead Designer: Xiaoxiao Liu</a></li>
                        <li><a href="https://github.com/baabochka">Data Designer: Valentina Pogudina</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>