<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Stratego</title>
    <link rel="icon" href="../static/resources/images/icon.png" th:href="@{/resources/images/icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['win',     12],
                ['loss',      2],
                ['unfinished',  1]
            ]);

            var options = {
                slices: {
                    0: { color: '#5ab259' },
                    1: { color: '#c62828' },
                    2: { color: '#418ac9'}
                },
                tooltip: {
                    showColorCode:true,
                    textStyle: {
                        fontSize: '12'
                    }
                },
                pieSliceText: 'none',
                width: 180,
                height: 180,
                legend: {position: 'none'},
                chartArea:{height:155, width:155}
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript" src="../static/resources/js/dashboard.js" th:src="@{/resources/js/dashboard.js}"></script>
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-sm navbar-light">
        <img id="logo" src="../static/resources/images/icon.png" th:src="@{/resources/images/icon.png}"/>
        <a class="navbar-brand" href="#">Stratego</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img alt="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
                             th:src="${user.avatar_url}">
                        <span th:text="${user.getNickname()}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="#">game history</a>
                        <a class="dropdown-item" id="logout-link" href="/logout" th:href="@{/logout}">logout</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="stratego-container">
        <div class="stratego-col">
            <div class="card">
                <div class="card-header">
                    Statistics
                </div>
                <div class="card-body">
                    <div id="piechart-container">
                        <div id="piechart"></div>
                    </div>
                    <div id="piechart-legends">
                        <div class="piechart-legend" style="color:#5ab259;">
                            <div>12</div>
                            <span>win</span>
                        </div>
                        <div class="piechart-legend" style="color:#c62828;">
                            <div>2</div>
                            <span>loss</span>
                        </div>
                        <div class="piechart-legend" style="color:#418ac9;">
                            <div>1</div>
                            <span>unfinished</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    No use
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a h.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="stratego-col">

            <div class="card" id="game-history-card">
                <div class="card-header">
                    Game History
                    <a href="#">view all</a>
                </div>
                <div class="card-body">
                    <ul>
                    <li th:each="game: ${games}">
                        <span th:text="${game.id}"></span>
                        <span th:text="${game.user.username}"></span>
                        <span><a th:href="@{/delete/{id}(id=${game.id})}">delete</a></span>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stratego-col">

            <div class="card">
                <div class="card-header">
                    New Game
                </div>
                <div class="card-body new-game">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/create" th:href="@{/create}">versus A.I.</a></li>
                        <li class="list-group-item"><a href="/create" th:href="@{/create}" class="link-disabled">versus People<span>(Coming Soon)</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>