<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/game.css" th:href="@{/resources/css/game.css}">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let gameId = [[${game.id}]];
        let ended = [[${game.ended}]];
        let started = [[${game.started}]];
        /*]]>*/
    </script>
</head>
<body>

<div id="root" class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Remaining Pieces</div>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col">
            <table id="board"></table>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Info</div>
                <div class="card-body"></div>
            </div>
            <button id="startBtn" disabled>Start Game</button>
            <button id="quickPlay" disabled>Quick Move</button>
            <button id="replayBtn" disabled>Replay</button>
            <button id="replayMoveBtn" disabled>Next Move</button>
        </div>

    </div>
</div>


<!-- Load our React component. -->
<script src="../static/resources/js/game.js" th:src="@{/resources/js/game.js}" ></script>
</body>
</html>