<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Stratego</title>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
<!--    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <link rel="shortcut icon" type="image/png" th:href="@{/resources/images/medal.png}"/>
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}"/>

</head>
<body>

<div class="header">
    <div class="greeting">
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            This contediv sec:authorize o authenticated users.-->
<!--        </div>-->

<!--        <a href="/">Settings</a>-->
<!--        <a href="/">Logout</a>-->
        <span>Welcome!</span>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>
</div>
<div>
    <a href="/dashboard">Go to dashboard</a>
</div>
<div class="footer">
    <div class="center-text">
        This is a temporary footer!
    </div>
</div>


<!--<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>-->
</body>
</html>