<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stratego</title>
    <link rel="icon" href="../static/resources/images/icon.png" th:href="@{/resources/images/icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/resources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" th:href="@{/resources/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/util.css" th:href="@{/resources/css/util.css}">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>

</head>
<body>
<nav class="mb-1 navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <img id="logo" src="../static/resources/images/icon-sm.png" th:src="@{/resources/images/icon.png}"/>
    <a class="navbar-brand txt" href="/">Stratego</a>
    <ul class="navbar-nav ml-auto">
    </ul>
</nav>
<div>
    <img id="rocket" class="m-l-100 m-t-100" src="../static/resources/images/rocket.png" th:src="@{/resources/images/rocket.png}"/>
</div>
<header class="verify-Success-wrapper">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">You're all set</h1>
            <h2 class="text-color mx-auto mt-3 mb-5">Your email is now confirmed.</h2>
            <a class="btn-primary btn" href="/dashboard" th:href="@{/login}" target="_self">login</a>
        </div>
    </div>
</header>


</body>
</html>
